<section aria-label="Yoga Stretford Home Page">
  <h2 class="visually-hidden">Yoga Stretford Home Page</h2>
  <div class="container">
    <img src="../../assets/yoga-class.jpg" alt="Book A Yoga Class In Stretford" aria-hidden="true" class="yoga-class">
    <div class="sub-container">
      <p>Vinyasa is a dynamic and high-energy practice that builds heat in the body, develops strength, and stimulates
        the cardiovascular system.</p>
      <button mat-flat-button role="link" class="action-button" id="book-classes-button" routerLink="/book-classes">Book
        a class</button>
    </div>
  </div>
  <div class="container">
    <div class="sub-container">
      <p>Yoga clothes and accessories are specifically designed to provide maximum comfort,
        flexibility, and breathability during practice, allowing you to move freely through poses without restriction
        while managing sweat effectively.</p>
      <button mat-flat-button role="link" class="action-button" id="shop-all-button" routerLink="/shop-all">Shop
        all</button>
    </div>
    <img src="../../assets/yoga-shop.jpg" alt="Shop All" aria-hidden="true" class="shop-all-image">
  </div>
  <location></location>
</section>