.logo-icon {
  color: white;
  font-size: 2.125rem;
}

.logo-icon:hover{
color: #E6E6FA;
cursor: pointer;
}

ul{
  display:flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.header{
  background-color: #452c63;
  padding: 0.05rem;
  position: relative;
}

.user-icon{
  color: white;
  font-size: 2.125rem;
}

.user-icon:hover{
  color: #D8BFD8;
  cursor: pointer;
}

button{
  padding: 0.625rem;
  background-color: #452c63;
  border: none;
  color: white;
  font:bold;
  font-size:medium;
}

button:hover{
  color: #D8BFD8;
  cursor: pointer;
}

.shop{
  display: flex;
  align-items: center;
}

.shop-sub-menu{
  display: flex;
  background-color: #D8BFD8;
  color: black;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 100%;
  left: 60%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  z-index: 1000;
}

.arrow-right-icon{
  color: white;
}

.arrow-down-icon{
  color: #D8BFD8;
}

.shop-menu{
  display: flex;
  align-items: center;
}
