.logo-icon {
  color: var(--font-color-white);
  font-size: 2.125rem;
}

.logo-icon:hover{
  color: var(--background-light-lavender);
  cursor: pointer;
}

ul{
  display:flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.header{
  background-color: var(--background-dark-lavender);
  padding: 0.05rem;
  position: relative;
}

.user-icon{
  color: var(--font-color-white);
  font-size: 2.125rem;
}

.user-icon:hover{
  color: var(--background-medium-lavender);;
  cursor: pointer;
}

button{
  padding: 0.625rem;
  background-color: var(--background-dark-lavender);;
  border: none;
  color: var(--font-color-white);
  font-weight: 550;
  font-size: medium;
}

button:hover{
  color: var(--background-medium-lavender);;
  cursor: pointer;
}

.shop{
  display: flex;
  align-items: center;
}

.shop-sub-menu{
  display: flex;
  background-color: var(--background-medium-lavender);;
  color: var(--font-color-black);
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 100%;
  left: 60%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  z-index: 1000;
}

.product{
  text-decoration: none;
  color: var(--font-color-black);
  font-weight: 600;
}

.product:hover{
  color: var(--font-color-white);
  font-weight: 600;
}

.product-menu{
  padding: 0.625rem;
}

.arrow-right-icon{
  color: var(--font-color-white);
}

.arrow-down-icon{
  color: var(--background-medium-lavender);;
}

.shop-menu{
  display: flex;
  align-items: center;
}

.items-count{
  background-color: var(--background-light-lavender);
  color: var(--font-color-black);
  padding: 1.5px;
  border-radius: 40%;
  font-size: smaller;
  font-weight: 600;
}

.cart-section{
  display: flex;
  align-items: flex-start;
}
