<header class="header">
  <nav>
    <ul>
      <li>
        <a>
          <button class="logo" aria-label="Home page" role="link" routerLink="/">
            <mat-icon class="logo-icon">spa</mat-icon>
          </button>
        </a>
      </li>
      <li>
        <button mat-flat-button role="link" class="book-classes" routerLink="/book-classes">Book classes</button>
      </li>
      <li class="shop-menu">
        <button mat-flat-button role="link" class="shop" [matMenuTriggerFor]="menu" (click)="toggleSubMenu()">Shop
        </button>
        <mat-menu #menu="matMenu" class="shop-sub-menu">
          <ng-container *ngFor="let submenu of shopSubMenu">
            <button mat-menu-item class="product" tabindex="0" [routerLink]="submenu.route" (click)="toggleSubMenu()"
              (keydown.tab)="toggleSubMenu()">
              {{ submenu.name }}
            </button>
          </ng-container>
        </mat-menu>
          <span *ngIf="!isShopMenuOpen" class="arrow-right-icon"><mat-icon>keyboard_arrow_right</mat-icon></span>
          <span *ngIf="isShopMenuOpen" class="arrow-down-icon"><mat-icon>keyboard_arrow_down</mat-icon></span>
      </li>
      <li class="cart-section">
        <button class="cart" aria-label="Cart" role="link" routerLink="/cart">
          <mat-icon class="cart-icon">add_shopping_cart</mat-icon>
        </button>
        <span class="items-count" *ngIf="itemCount > 0">{{ itemCount }}</span>
      </li>
      <li>
        <button class="user" aria-label="Log in" role="link" routerLink="/user"><mat-icon
            class="user-icon">account_circle</mat-icon></button>
      </li>
    </ul>
  </nav>
</header>
