@import 'material-theme';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* You can add global styles to this file, and also import other style files */
:root {
 //colors
 --background-light-lavender: #E6E6FA;
 --background-medium-lavender: #D8BFD8;
 --background-dark-lavender: #452c63;
 --font-color-black: black;
 --font-color-white: white;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.action-button{
  background-color: var(--background-medium-lavender) !important;
  color:var(--font-color-black);
}

.action-button:hover{
  background-color: var(--background-light-lavender)!important;
}

ul{
  list-style: none;
}

.mat-flat-button:focus {
  outline: 2px solid white;
  outline-offset: 4px;
  box-shadow: 0 0 10px white;
}

a:link, a:visited { 
   color:var(--background-dark-lavender);
   text-decoration: none; 
}

a:hover { 
  color:var(--background-medium-lavender);
  text-decoration: none; 
}

.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

