@import 'material-theme';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1;
  padding: 0;
  border: 0;
  overflow: hidden;
}
